extends layout

block content
    .w3-container.w3-section.w3-card-4
        header.w3-container.w3-teal
            h3 Student Information: #{st.nome}
        .w3-container
            table.w3-table-all.w3-section
                tr
                    th Number
                        td=st.numero
                tr
                    th Name
                        td=st.nome
                tr
                    th Git
                        td=st.git
                tr  
                    th TPC
                        td 
                            ul
                                - var n = 1;
                                each c in st.tpc
                                     li TPC  #{n++}
                tr  
                    th 
                        td         
                            button.w3-btn.w3-border.w3-margin-bottom.w3-center.w3-blue(onclick="adicionarTPC('" + st._id + "')" class='fa fa-plus') ADD
                            button.w3-btn.w3-border.w3-margin-bottom.w3-center.w3-blue(onclick="removerTPC('" + st._id + "')" class='fa fa-minus') REMOVE 

        .w3-container.w3-teal
            footer.w3-container
                p
                    a(href="/students") Voltar à página principal